body
{
background-image: url("backGroundSpace.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin:0;
padding:0;
}

#GameButton
{
	background-color: yellow;
	position: relative;
	left: 600px;
	top: 500px;
}
