body
{
background-image: url("backGroundSpace.jpg");
background-repeat: repeat-y;
background-size: cover;
background-attachment: fixed;
margin:0;
padding:0;
}

#GameButton
{
	background-color: yellow;
	position: relative;
	left: 600px;
	top: 500px;
}
