body
{
background-image: url("backGroundSpace.jpg");
<<<<<<< HEAD
background-repeat: no-repeat;
//background-size: cover;
=======
background-repeat: repeat-y;
background-size: cover;
background-attachment: fixed;
>>>>>>> c9b34e8f52a19b0d024c058ca8781cd10cbb6307
margin:0;
padding:0;
}
#canvas {

  width: 100%;
  height: auto;
}
.container
{
	background-color: white;
	position:relative;
	top: 440px;
}
	
#GameButton
{
	background-color: yellow;
	position: relative;
	left: 600px;
	top: 440px;
}
#content_holder {
    width: 70%;
    margin: 0px auto;
    text-align: left;
	
}
.btn
{
display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-facebook {
    background: #3b5998;
    border-radius: 4px;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.btn-linkedin {
    background: #0e76a8;
    border-radius: 4px;
    color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff
}

.btn-github {
    background: #0e76a8;
    border-radius: 4px;
    color: #fff
}
.btn-github:link, .btn-github:visited {
    color: #fff
}
.btn-github:active, .btn-github:hover {
    background: #0b6087;
    color: #fff
}